<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=blog.title%></title>

    <%- include('all_css_js') -%>
  </head>
  <body>
    <main class="mt-10 px-4 lg:px-0 w-full md:w-4/6 mx-auto">
      <div class="featureImg">
        <div class="relative">
          <img
            src="<%=blog.coverImage%>"
            alt="<%=blog.title%>"
            title="<%=blog.title%>"
            class="mb-0 block w-full"
          />
        </div>
      </div>

      <div class="postTitle">
        <div
          class="mt-6 break-words px-4 text-center font-heading text-3xl font-bold text-slate-900 md:mt-10 md:px-5 md:text-4xl lg:px-8 xl:px-20 xl:text-5xl mb-8"
        >
          <h1 class="leading-tight"><%=blog.title%></h1>
        </div>
      </div>

      <div class="postDesc">
        <div class="mb-8 font-heading md:mb-8">
          <h2 class="text-xl leading-snug text-slate-700">
            <%=blog.description%>
          </h2>
        </div>
      </div>

      <!-- Author and dates  -->
      <div
        class="mt-8 flex flex-row flex-wrap items-center md:text-lg last:md:mb-10"
      >
        <div
          class="flex w-full flex-row items-center justify-center md:mb-0 md:w-auto md:justify-start"
        >
          <div class="md:mr-3">
            <a
              href="#"
              class="overflow-hidden block w-12 h-12 border-solid rounded-full bg-white border-yellow-400"
            >
              <img
                src="<%=user.profileImage%>"
                alt="<%=user.fullname%>"
                class="block w-full rounded-full"
              />
            </a>
          </div>
          <a href="#" class="ml-2 font-semibold text-slate-600 md:ml-0">
            <span><%=user.fullname%></span>
          </a>
        </div>
        <div
          class="mb-5 flex w-full flex-row items-center justify-center md:mb-0 md:w-auto md:justify-start"
        >
          <span
            class="mx-2 hidden font-bold text-slate-500 md:block select-none"
          >
            ·
          </span>

          <span href="#" class="tooltip-handle text-slate-600">
            <time datetime="2024-06-12T11:13:07.672Z" class="text-sm">
              <%=new Date(blog.created_at).toLocaleDateString('en-US', { day:
              'numeric', month: 'long', year: 'numeric' }); %>
            </time>
          </span>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row lg:space-x-12 mb-5">
        <div class="lg:px-0 mt-8 text-gray-700 text-lg leading-relaxed w-full">
          <%- blog.sanitizedHtml%>

          <p class="pb-6">
            Advantage old had otherwise sincerity dependent additions. It in
            adapted natural hastily is justice. Six draw you him full not mean
            evil. Prepare garrets it expense windows shewing do an. She
            projection advantages resolution son indulgence. Part sure on no
            long life am at ever. In songs above he as drawn to. Gay was
            outlived peculiar rendered led six.
          </p>

          <p class="pb-6">
            Difficulty on insensible reasonable in. From as went he they.
            Preference themselves me as thoroughly partiality considered on in
            estimating. Middletons acceptance discovered projecting so is so or.
            In or attachment inquietude remarkably comparison at an. Is
            surrounded prosperous stimulated am me discretion expression. But
            truth being state can she china widow. Occasional preference fat
            remarkably now projecting uncommonly dissimilar. Sentiments
            projection particular companions interested do at my delightful.
            Listening newspaper in advantage frankness to concluded unwilling.
          </p>

          <p class="pb-6">
            Adieus except say barton put feebly favour him. Entreaties
            unpleasant sufficient few pianoforte discovered uncommonly ask.
            Morning cousins amongst in mr weather do neither. Warmth object
            matter course active law spring six. Pursuit showing tedious unknown
            winding see had man add. And park eyes too more him. Simple excuse
            active had son wholly coming number add. Though all excuse ladies
            rather regard assure yet. If feelings so prospect no as raptures
            quitting.
          </p>

          <div class="border-l-4 border-gray-500 pl-4 mb-6 italic rounded">
            Sportsman do offending supported extremity breakfast by listening.
            Decisively advantages nor expression unpleasing she led met. Estate
            was tended ten boy nearer seemed. As so seeing latter he should
            thirty whence. Steepest speaking up attended it as. Made neat an on
            be gave show snug tore.
          </div>

          <p class="pb-6">
            Exquisite cordially mr happiness of neglected distrusts. Boisterous
            impossible unaffected he me everything. Is fine loud deal an rent
            open give. Find upon and sent spot song son eyes. Do endeavor he
            differed carriage is learning my graceful. Feel plan know is he like
            on pure. See burst found sir met think hopes are marry among.
            Delightful remarkably new assistance saw literature mrs favourable.
          </p>

          <h2 class="text-2xl text-gray-800 font-semibold mb-4 mt-4">
            Uneasy barton seeing remark happen his has
          </h2>

          <p class="pb-6">
            Guest it he tears aware as. Make my no cold of need. He been past in
            by my hard. Warmly thrown oh he common future. Otherwise concealed
            favourite frankness on be at dashwoods defective at. Sympathize
            interested simplicity at do projecting increasing terminated. As
            edward settle limits at in.
          </p>

          <p class="pb-6">
            Dashwood contempt on mr unlocked resolved provided of of. Stanhill
            wondered it it welcomed oh. Hundred no prudent he however smiling at
            an offence. If earnestly extremity he he propriety something
            admitting convinced ye. Pleasant in to although as if differed
            horrible. Mirth his quick its set front enjoy hoped had there. Who
            connection imprudence middletons too but increasing celebrated
            principles joy. Herself too improve gay winding ask expense are
            compact. New all paid few hard pure she.
          </p>

          <p class="pb-6">
            Breakfast agreeable incommode departure it an. By ignorant at on
            wondered relation. Enough at tastes really so cousin am of.
            Extensive therefore supported by extremity of contented. Is pursuit
            compact demesne invited elderly be. View him she roof tell her case
            has sigh. Moreover is possible he admitted sociable concerns. By in
            cold no less been sent hard hill.
          </p>

          <p class="pb-6">
            Detract yet delight written farther his general. If in so bred at
            dare rose lose good. Feel and make two real miss use easy.
            Celebrated delightful an especially increasing instrument am.
            Indulgence contrasted sufficient to unpleasant in in insensible
            favourable. Latter remark hunted enough vulgar say man. Sitting
            hearted on it without me.
          </p>
        </div>
      </div>

      <div class="mb-5 flex w-full flex-row flex-wrap justify-center">
        <% blog.tags.forEach(tag => { %>
        <a
          class="mb-3 mr-3 rounded-lg border bg-slate-100 px-2 py-1 text-base font-medium text-slate-700 hover:bg-slate-200"
          href="#"
        >
          <span><%=tag%></span>
        </a>
        <% }) %>
      </div>

      <div class="mb-5 mt-10 flex flex-col gap-16">
        <div class="flex-1 px-2">
          <div class="flex flex-col flex-wrap items-start md:flex-nowrap">
            <h3
              class="mb-4 w-full border-solid border-x-0 border-t-0 border border-gray-500 pb-2 text-base font-medium tracking-wider text-slate-500"
            >
              Author
            </h3>
            <div class="flex w-full flex-col gap-12">
              <div class="flex w-full flex-1 flex-col md:flex-row">
                <div class="mb-4 flex w-full flex-1 flex-row md:mb-0">
                  <div class="mr-4 flex flex-row md:mb-0">
                    <a
                      href="#"
                      class="block h-10 w-10 overflow-hidden md:h-14 md:w-14 bg-white border-solid rounded-full border-yellow-400"
                    >
                      <img
                        src="<%=user.profileImage%>"
                        alt="<%=user.fullname%>"
                        class="block h-full w-full"
                      />
                    </a>
                  </div>
                  <div
                    class="flex flex-1 flex-col justify-center md:justify-start"
                  >
                    <div class="flex flex-row items-center md:mb-1">
                      <h1
                        class="font-sans text-lg font-semibold text-slate-800"
                      >
                        <a href="#">Aashish Katwal</a>
                      </h1>
                    </div>
                    <div class="pr-2 md:block">
                      <div class="prose text-slate-600">
                        <p>
                          Crazy, Program the Web, Voracious reader, Blogger.
                          Besides, Lazy in do-nothingness...
                        </p>
                        <p>
                          Follow on Twitter for daily tips and knowledge bytes
                          on Web development and Blogging.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
